<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  Targets pour écrire les logs
  -->
  <targets>
    <target xsi:type="File" name="allfile" fileName="c:\temp\universityapp-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\universityapp-error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    Console target for faster debugging
    -->
    <target xsi:type="Console" name="lifetimeConsole"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}" />
  </targets>

  Rules pour mapper les logs aux targets
  -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Error" writeTo="ownFile-web" />

    <logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
  </rules>
</nlog>
