<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile"
				fileName="${basedir}/logs/universityapp-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30" />

		<target xsi:type="File" name="errorFile"
				fileName="${basedir}/logs/universityapp-error-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}${newline}${exception:format=tostring,Data:maxInnerExceptionLevel=10}"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="90" />

		<target xsi:type="Console" name="lifetimeConsole"
				layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="jsonFile"
				fileName="${basedir}/logs/universityapp-structured-${shortdate}.json">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${logger}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="url" layout="${aspnet-request-url}" />
				<attribute name="action" layout="${aspnet-mvc-action}" />
				<attribute name="userId" layout="${aspnet-user-identity}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Warn" writeTo="errorFile" />
		<logger name="*" minlevel="Info" writeTo="jsonFile" />
		<logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
	</rules>
</nlog>